@charset "UTF-8";

body{
	background-color:yellow; font-family:serif; color:black;
}
h1{
	color:red;
	border-bottom: 1px solid gray; /*밑줄 선 두께, 실선, 선색*/
}
p.first{
	color:green;
}
p.second{
	color:blue;
}